<!-- Logo -->
<div>
  <h3 id="nameplate" style=";text-align: left; padding-left:0.5em; color:aliceblue">マスター</h3>
    <a class="steam-cover" href="https://steamcommunity.com/id/k3k2810" target="_blank" rel="noopener noreferrer">
      <div id="logo">

      </div>
  </a>
</div>


<script defer> 
  $(function(){
    $.ajaxSetup ({
    // Disable caching of AJAX responses
    cache: false
    });

    $("#logo").load("https://cors-anywhere.herokuapp.com/https://steamcommunity.com/miniprofile/238158335.html")})
</script> 