<!-- Logo -->
<h3 style="font-family: 'Dancing';text-align: left; padding-top: 0.5em; padding-left:0.5em; color:aliceblue">店長</h3>
<a class="steam-cover" href="https://steamcommunity.com/id/k3k2810" target="_blank" rel="noopener noreferrer">
<div id="logo">
  <!-- <a href="{{- '/' | absolute_url -}}" id="home-link">
    <span class="image avatar48"><img src="{{- site.avatar | relative_url -}}" alt="{{- site.author | default: 'unknown author' | prepend: 'Avatar of ' -}}" /></span>
    <h1 id="title">{{- site.title -}}</h1>
    <p>{{- site.subtitle -}}</p>
  </a> -->
</div>
</a>