<!-- Logo -->
<div>
  <h3 style="font-family: 'Dancing';text-align: left; padding-top: 0.5em; padding-left:0.5em; color:aliceblue">店長</h3>
    <a class="steam-cover" href="https://steamcommunity.com/id/k3k2810" target="_blank" rel="noopener noreferrer">
      <div id="logo">
        <iframe src="https://gamer2810.github.io/steam-miniprofile/" style="border:0px #ffffff none;" name="myiFrame" scrolling="no" frameborder="1" marginheight="0px" marginwidth="0px" height="200px" width="300px" allowfullscreen></iframe>
    </div>
  </a>
</div>